.container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listItem {
  padding: 5px;
  background-color: #fff9c4;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.listItem:hover {
  background-color: #fff176;
}

.listItem:active {
  background-color: #fbc02d;
}

.checkbox {
  margin-right: 10px;
}

.selected {
  background-color: lightblue;
}

.searchInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;

  margin-bottom: 10px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchInput:focus {
  border-color: #007bff;
}
